body{
    background-color:#000000;
}


section{
    width: 55%;
    padding: 1em;
    margin-left: 3%;
    float:left;
    clear: both;
    overflow:hidden;
    background-color:#FFFFFF;
}

#FAQS{
    padding: 1em;
    overflow:auto;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
section.content {
    flex: 1;
}

#BBReccomends{
    width: 35%;
    height: 450px;
    padding: 1em;
    margin-right: 3%;
    margin-left: 15%;
    border: solid black 2px;
    overflow:hidden;
    background-color:#FFFFFF;
}

#Header {
    padding: 1em;
    text-align: center;
    clear: both;
    background-color: #800000;
}
#Nav-Bar{
    text-align: center;
    background-color: #efefef;
    clear: both;
}

#footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    clear: both;

}