body{
    background-color:#343434;
}


section{
    width: 55%;
    /*padding: 1em;*/
    margin-left: 3%;
    float:left;
    clear: both;
    overflow:hidden;
    background-color:#DDD;
    border: solid black 2px;
}

ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

section.content {
    flex: 1;
}

#browse{
    width: 100%;
    padding: 1em;
    margin-left: 3%;
    float:left;
    clear: both;
    overflow:hidden;

}
#FAQS{
    padding: 1em;
    overflow:auto;
    background-color:#DDD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#BBReccomends {
    width: 35%;
    height: 450px;
    padding: 1em;
    margin-right: 3%;
    margin-left: 15%;
    border: solid black 2px;
    overflow:hidden;
    background-color:#DDD;
}

.Header {
    padding: 1em;
    text-align: center;
    clear: both;
    background-color: #fecf05;
    overflow: hidden;
}

#butlerLeft{
    padding: 1em;
    width: 20%;
    height: auto;
    float: left;
}

#butlerRight{
    padding: 1em;
    width: 20%;
    height: auto;
    float: right;
}

#Nav-Bar{
    align-self: center;
    text-align: center;
    background-color: #fecf05;
    clear: both;
}

#footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    clear: both;
}

.Header h1 {
    font-family: 'Ultra', serif;
    font-size: 4em;
    text-decoration: underline;
}

.Header h2{
    font-size: 2.5em;
}

#beerTops{
    width: 100%;
    margin: 0%;
}

#beerTops img{
    width: 100%;
    margin: 0%;
    border-bottom:2px solid #000000;
}

#Drink-Feature{
    margin-left: 10%;
    margin-right: 10%;
}

.beerSearchContainerHome h2{
    border-bottom:2px solid #761c19;
}

#foodFeatureHome h2{
    border-bottom:2px solid #761c19;
}

.beerSearchContainer img {

}