body{

    background-color:#343434;
    background-image: url("/images/woodbackground.jpg");
}


section{
    width: 55%;
    min-height: 500px;
    /*padding: 1em;*/
    margin-left: 3%;
    margin-right: 3%;
    float:left;
    clear: both;
    overflow:hidden;
    background-color: #f2f6f2;
    border: solid black 2px;
}

#browse-ul{
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

section.content {
    flex: 1;
}

#browse{
    width: 100%;
    padding: 1em;
    margin-left: 3%;
    float:left;
    clear: both;
    overflow:hidden;

}
#FAQS{
    padding: 1em;
    overflow:auto;
    background-color:#DDD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

#banner-load img{
    width: 75%;
    height: auto;
    -moz-animation-duration: autos;
    -o-animation-duration: autos;
    animation-duration: autos;%;
    border: 1px solid;
    display: block;
    margin: auto;
    opacity: 1.0;
}

#banner-load{

}

#BBReccomends {
    width: 32%;
    min-height: 500px;
    padding: 1em;
    margin-right: 3%;
    border: solid black 2px;
    opacity: .85;
    color: darkgoldenrod;
    overflow:hidden;
    background-color: #000000;
    text-align: center;
}

#header{
    background-image: url("/images/beer-background.jpg");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    height: auto;
    width: auto;
}

.Header {
    width: auto;
    text-align: center;
    color: #f2f2f2;
    overflow: hidden;
    clear: both;
}

#beerimage{
    width: 75%;
    height: 75%;
    margin: 0%;
}



#butlerLeft{
    padding: 1em;
    width: 20%;
    height: auto;
    float: left;
}

#butlerRight{
    padding: 1em;
    width: 20%;
    height: auto;
    float: right;
}

#Nav-Bar{
    margin-left: 15%;
    align-self: center;
    text-align: left;
    clear: both;
}

#Nav-Button img{
    margin-right: 5%;
}


#footer{
    background-image: url("/images/beer-background.jpg");

    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    opacity: 0.85;
    text-align: center;
    clear: both;
}
#footer a{
    opacity: 1.0;
    color: darkgoldenrod;
}

.Header h1 {
    font-family: 'Ultra', serif;
    font-size: 4em;
    text-decoration: underline;
}

.Header h2{
    font-size: 2.5em;
}

#beerTops{
    width: 100%;
    margin: 0%;
}

#beerTops img{
    width: 100%;
    margin: 0%;
    border-bottom:2px solid #000000;
}

#Drink-Feature{
    margin-left: 5%;
}

#Drink-Feature li{
    float: left;
    display: inline;
}

#Drink-Feature ul{
    list-style: none;
    padding: 1em;
}

#article1{
    float: left;
}

#article2{
    padding: 1em;
    width: 50%;
    height: auto;
}

#search-container{
    min-height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.beerSearchContainerHome h2{
    border-bottom:2px solid #761c19;

}

#foodFeatureHome h2{
    border-bottom:2px solid #761c19;
}

.beerSearchContainer img {

}

